@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: hsl(30, 54%, 90%);
}

@media (min-width: 375px) {
  .wrapper {
    padding: 100px 0px;
  }
  .attribution {
    position: absolute;
    bottom: -25px;
    right: 160px;
    opacity: 0.5;
    font-family: Outfit;
    text-align: center;
  }
}
.omlette {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.in-text-tittle {
  font-family: "Young Serif";
  color: hsl(14, 45%, 36%);
  font-size: 24px;
  font-weight: 600;
}

.unique {
  font-size: 16px;
  color: hsl(30, 10%, 34%);
  font-weight: normal;
}

.card {
  position: relative;
  background-color: white;
  border-radius: 20px;
  max-width: 620px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 25px;
}
.card__text {
  font-family: Outfit;
  font-size: 16px;
  color: hsl(30, 10%, 34%);
}
.card__tittle {
  font-family: "Young Serif";
  font-size: 34px;
  margin: 30px 0px 25px;
}
.card__descriptione {
  margin: 10px 0px;
}
.card__prep-time {
  background-color: hsl(330, 100%, 98%);
  padding: 30px;
  border-radius: 10px;
}
.card__prep-time > span {
  font-size: 20px;
  color: hsl(332, 51%, 32%);
}
.card__prep-time li {
  color: hsl(24, 5%, 18%);
  font-weight: 700;
  margin: 10px 0px 0px 10px;
}
.card__prep-time li::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background-color: rgb(109, 53, 53);
  margin: 0px 20px 5px 0px;
}
.card__ingredients {
  margin: 15px 0px;
}
.card__ingredients li::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background-color: rgb(109, 53, 53);
  margin: 0px 20px 5px 0px;
}
.card__ingredients li {
  margin: 10px 0px 0px 10px;
}
.card__instructions {
  padding: 20px 0px;
  margin: 20px 0px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
  border-top: 2px solid rgba(128, 128, 128, 0.2);
}
.card__instructions ol {
  list-style: none;
  font-weight: 700;
  margin: 20px 0 0 0;
  padding: 0px 10px;
}
.card__instructions li {
  margin: 10px 0px 0px 10px;
  font-weight: 700;
  counter-increment: li;
  padding-left: 10px;
}
.card__instructions li::before {
  content: counter(li) ".";
  color: hsl(14, 45%, 36%);
  display: inline-block;
  width: 1em;
  margin: 0 13px 0 -30px;
}
.card__nutrition_decription {
  margin: 20px 0 0 0;
}

.grid__box {
  display: -ms-grid;
  display: grid;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: (minmax(40px, auto))[4];
  -ms-grid-columns: 1fr 1fr;
      grid-template: repeat(4, minmax(40px, auto))/1fr 1fr;
}
.grid__box div {
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
  padding: 15px 20px;
}
.grid__box div:nth-of-type(8) {
  border-bottom: none;
  margin-bottom: 0px;
}
.grid__box div:nth-of-type(7) {
  border-bottom: none;
  margin-bottom: 0px;
}

.color-brown {
  color: hsl(14, 45%, 36%);
}